.banner{
    width: 100%;
    height: 400px;
    background-color: #5775EF;
    display: flex;
}

.info-banner{
    width: 50%;

}

.foto-banner{
    width: 50%;
}

.foto-banner img{
    width: 100%;
    height: 100%;
}

.info-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.foto-banner{
    width: 50%;
    height: 400px;
    background-image: url("../images/FOTO1.jpg");
    background-size: cover;
    background-position: center;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
}

input, button{
    padding: 7px;
    border-radius: 10px;
}

input{
    margin-right: 10px;
    border: none;
    width: 200px;
}

button{
    background-color: darkblue;
    border: white 1px solid;
    width: 150px;
    color: white;
}

button:hover{
    background-color: blue;
}