body{
    margin: 0;
}

header{
   background: linear-gradient(180deg,rgba(4, 14, 53, 1) 2%, rgba(245, 245, 245, 1) 100%);
    width: 100%;
    height: 90px;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
   
}

.nav-izq, .nav-der{
    width: 40%;
  
    
}

.logo{
    width: 20%;
    height: auto;
    background-image: url(../images/lens-37025_1920.png);
   background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(darkblue 0px 0px 20px);
    
}
.nav-izq ul, .nav-der ul{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}


.nav-izq ul{
    justify-content: flex-end;
}

nav>div>ul>li{
    list-style: none;
    padding: 10px;
}

nav>div>ul>li>a{
    text-decoration: none;
    color: darkblue;
}

nav>div>ul>li>a:hover{
    color: white;
}
