.mejores-fotografias{
    background-color: #C7D1F9;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    color: darkblue;
}

h2{
    margin: 0;
}

.info-mejores-fotografias{
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cards{
    margin: 20px;
    border: white solid 3px ;
}

.cards>div>h3, .cards>div>p{
    padding: 0px 20px;
   
    

}

.cards-mejores-fotografias{
   /* background-color: hotpink;*/
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: space-evenly;
    align-items: center;
}

.cards>div>img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

h3{
    text-align: center;
       
}

