.testimonios{
    background-color: #5775EF;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    color: darkblue;
}


h2{
    text-align: center;
}

.info-testimonios{
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-testimonios{
   /* background-color: green;*/
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-personas{
    margin: 20px;
    border: white solid 3px ;
    
}

.imagen{
display: flex;
justify-content: center;
align-items: center;
}

.cards-personas>div>img{
    width: 25%;
    height: 100px;
    object-fit: cover;
}